{% extends 'base.html' %}
{% block title %}
ACERCA
{% endblock %}
{% block body %}
<table>
    <thead>
        <tr>
            <th> No. </th>
            <th> Nombre </th>
            <th> Apellidos </th>

        </tr>
    </thead>
    <tbody>


        {% for resultado in variable %}
        <tr>
            <!--    <p>{{resultado.nombre}},{{resultado.apellido}}</p>-->
            <td>{{resultado.id}}</td>
            <td>{{resultado.nombre}}</td>
            <td>{{resultado.apellido}}</td>
            <td>
                <a href="/editar/{{resultado.id }}">Editar</a>
                <a href="/eliminar/{{resultado.id }}">Eliminar</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
    </table>
    
        {% endblock %}